@font-face {
	font-family: "思源黑体 CN";
	src: url("../font/SourceHanSansCN-Regular.otf");
	src: url("../font/SourceHanSansCN-Bold.otf");
	src: url("../font/SourceHanSansCN-Light.otf");
	src: url("../font/SourceHanSansCN-Heavy.otf");
	src: url("../font/SourceHanSansCN-Normal.otf");
}

#content {animation:content 1.2s;}

@keyframes content {
  0% {opacity:0}
100% {opacity:1}
}

body{
	background-color: rgb(26, 26, 26);
	background-image: url(../images/answer/bg_answer.png);
	background-repeat: no-repeat;
	position: relative;
}

#first
{
	margin-top: 209px;
	margin-left: 125px;
	float: left;
	width: 280px;
	height: 600px;
	background-repeat: no-repeat;
}

#second
{
	margin-top: 209px;
	margin-left: 54px;
	float: left;
	width: 435px;
	height: 590px;
	background-color: #232323;
}

#second2
{
	overflow-y: scroll;
	margin-top:90px;
	margin-left: 25px;
	margin-right: 25px;
	margin-bottom: 25px;
	float: left;
	/*width: 385px;*/
	width: 400px;
	height: 475px;
	background-color:#232323;
	color: #606060;
	font-family: "思源黑体 CN";

}

#third
{

	margin-top: 209px;
	margin-left: 75px;
	float: left;
	width: 825px;
	height: 590px;
	background-color: #232323;

}

#third2
{
	margin-top: 90px;
	margin-left: 25px;
	float: left;
	width: 775px;
	height: 475px;
	background-color: #232323;
}

.item_text{
	line-height: 50px;
	text-align: center;
	margin: 0px auto;
	display: block;
	color: #888888;
	font-size: 16px;
	font-family: "思源黑体 CN";
}

#title
{
	position: absolute;
	top: 319px;
	left: 485px;
	font-size: 30px;
	color: #BBBBBB;
	font-family: "思源黑体 CN";
	font-weight: 300;

}

.button1
{
	position:absolute;
	top: 319px;
	left: 1520px;
	right: 330px;
	padding-left: 10px;
	padding-bottom: 5px;
	background-image: url(../images/answer/icon_submit.png);
	background-repeat: no-repeat;
	width: 70px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	margin-left: 20px;
	font-size: 12px;
	color: #BBBBBB;
	font-family: "思源黑体 CN";
}

.button2
{
	position:absolute;
	top: 319px;
	left: 1610px;
	right: 240px;
	padding-left: 10px;
	padding-bottom: 5px;
	background-image: url(../images/answer/icon_reset.png);
	background-repeat: no-repeat;
	width: 70px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	margin-left: 20px;
	font-size: 12px;
	color: #BBBBBB;
	font-family: "思源黑体 CN";
}

.button3
{
	position:absolute;
	top: 319px;
	left: 1700px;
	right: 150px;
	padding-left: 10px;
	padding-bottom: 5px;
	background-image: url(../images/answer/icon_run.png);
	background-repeat: no-repeat;
	width: 70px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	margin-left: 20px;
	font-size: 12px;
	color: #BBBBBB;
	font-family: "思源黑体 CN";
}

#seach
{
	position:absolute;
	top: 319px;
	left: 990px;
	background-image: url(../images/answer/btn_language.png);
	background-repeat: no-repeat;
	line-height: 30px;
	margin-left: 20px;
	font-size: 14px;
	width: 160px;
	height: 30px;
	color: #BBBBBB;
	font-family: "思源黑体 CN";
	cursor:pointer;

}

.logo1
{
	position: absolute;
	top: 168px;
	left: 1683px;
}

.logo2
{
	position: absolute;
	top: 168px;
	left: 1765px;
}

.timep
{
	position: absolute;
	top: 963px;
	left: 173px;
	line-height: 30px;
	width: 120px;
	height: 30px;
	font-size: 30px;
	color: #8A7154;
	font-family: "思源黑体 CN";
	font-weight: 900;
}

#page1
{
	position: absolute;
	top: 962px;
	left: 1715px;
	color: #8A7154;
	font-size: 30px;
	font-family: "思源黑体 CN";
	font-weight: 900;
}

#page2
{
	position: absolute;
	top: 962px;
	left: 1745px;
	font-size: 30px;
	font-weight: 30px;
	color: #FFF;
	font-family: "思源黑体 CN";
	font-weight: 900;
}

#item {
	width: 262px;
	height: 52px; 
	margin-bottom: 10px;
}

#item:hover {
	/* box-sizing: border-box; */
	border: 1.5px solid #8A7154;
	border-radius: 10px;
	cursor:pointer;
	box-sizing:border-box;
}

#third #state{
	position: absolute;
	top: 319px;
	left: 1170px;
	width: 294px;
	height: 30px;
	font-size: 12px;
	color: #888888;
	line-height: 30px;
	padding-left: 36px;
	background-color: #1A1A1A;
	background-image: url(../images/answer/icon_compiler_ing.png);
	background-repeat: no-repeat;
	background-position: left 11px top 7px;
	border-radius: 10px;
}

#third #language {
	display: none;
	position: absolute;
	top: 355px;
	left: 990px;
	width: 160px;
	height: 482.24px;
	border-radius: 10px;
	background-color: #2A2A2A;
}

#third #language li{
	width: 110.5px;
	height: 30.88px;
	font-size: 12px;
	color: #BBBBBB;
	line-height: 30.88px;
	margin: 0px 16.5px 0px 15.5px;
	padding-left: 17.5px;
	list-style: none;
	border-bottom: 1px solid #3A3A3A;
	cursor:pointer;
}

#third #language .bottom{
	border-bottom-width: 0px;
}