@font-face {
	font-family: "思源黑体 CN";
	src: url("../font/SourceHanSansCN-Regular.otf");
	src: url("../font/SourceHanSansCN-Bold.otf");
	src: url("../font/SourceHanSansCN-Light.otf");
	src: url("../font/SourceHanSansCN-Heavy.otf");
	src: url("../font/SourceHanSansCN-Normal.otf");
}

#content {animation:content 1.2s;}

@keyframes content {
  0% {opacity:0}
100% {opacity:1}
}

body{
	position: relative;
	background-color: rgb(26, 26, 26);
	background-image: url(../images/community/bg_community.png);
	background-repeat: no-repeat;
}
#tall
{
	display: none;
	position: absolute;
	top: 259px;
	left: 564px;
	background-image: url(../images/community/bg_reply.png);
	background-repeat: no-repeat;
	width: 826px;
	height: 563px;
}
#tall2
{
	display: none;
	position: absolute;
	top: 259px;
	left: 564px;
	background-image: url(../images/community/bg_reply.png);
	background-repeat: no-repeat;
	width: 826px;
	height: 563px;
}
#details1 {
      position: absolute;
      top: 269px;
      left: 140px; 
      width: 1100px;
      height: 521px;
     
    }
#dowm
{
	position: absolute;
	top: 20px;
	left: 763px;
	
}
#dowm:hover {
    position: absolute;
	top: 20px;
	left: 763px;
}
#dowm2
{
	font-size:40px;
	color:#606060;
	list-style-type: none;
}
#dowm2:hover {
    cursor:pointer;
}
#dowm3
{
	position: absolute;
	top: 20px;
	left: 763px;
	
}
#dowm3:hover {
    position: absolute;
	top: 20px;
	left: 763px;
}
#dowm4
{
	font-size:40px;
	color:#606060;
	list-style-type: none;
}
#dowm4:hover {
    cursor:pointer;
}


#theme
{
	position: absolute;
	font-size: 30px;
	color: #484643;

}
#tiele2
{
	margin-top: 34px;
	margin-left: 308px;
	width: 826px;
	height: 30px;
}
#tiele1
{
	margin-top: 34px;
	margin-left: 203px;
}
#content1
{
	position: absolute;
	top: 192px;
	left: 228px;
	width: 391px;
	height: 175px;

}
p
{
	color: #888888;
	font-size: 24px;
	
}
#end
{
	position: absolute;
	top: 500px;
	left: 370px;
	width: 86px;
	height: 30px;
	color: #888888;
}
#interior{
	position: absolute;
	top: 168px;
	left: 63px;
}
#interior li {
	float: left;
	padding-left: 80px;

}
ul {
	list-style-type: none;
}

#interior_nav a {
	display: black;
	text-decoration: none;
	color: #BBB;
	text-align: center;
	font-family: "思源黑体 CN";
	font-size: 22px;
}
#mark{
	position: absolute;
	background-color: #8A7154;
	width: 50px;
	height: 4px;
	top: 215px;
	left: 140px;
	border-radius:2px;
}
#comment{
	
	float:left;
	width: 1100px;
	height: 510px;
	margin-top:183px;
	margin-left:134px;
	
	
}
#one{
	width: 1100px;
	height: 102px;
	background-color: #1C1C1C;
	border-radius:10px 10px 0px 0px;
	clear: both;
}
#two{
	width: 1100px;
	height: 102px;
	background-color: #1F1F1F;
}
#three{
	width: 1100px;
	height: 102px;
	background-color: #1C1C1C;
}
#one2{
	width: 1100px;
	height: 102px;
	background-color: #1F1F1F;
}
#two3{
	width: 1100px;
	height: 102px;
	background-color: #1C1C1C;
}
#four{
	width: 1100px;
	height: 102px;
	background-color: #1F1F1F;
	border-radius:0px 0px 10px 10px;
}
#one img{
	margin-top:24px;
	margin-left:38px; 
	width: 50px;
	height: 50px;
	float:left;
}
#two img{
	margin-top:24px;
	margin-left:38px; 
	width: 50px;
	height: 50px;
	float:left;
}
#three img{
	margin-top:24px;
	margin-left:38px; 
	width: 50px;
	height: 50px;
	float:left;
}
#one2 img{
	margin-top:24px;
	margin-left:38px; 
	width: 50px;
	height: 50px;
	float:left;
}
#two3 img{
	margin-top:24px;
	margin-left:38px; 
	width: 50px;
	height: 50px;
	float:left;
}
#four img{
	margin-top:24px;
	margin-left:38px; 
	width: 50px;
	height: 50px;
	float:left;
}
#comment ul{
	float:left;
}
.suffix1{
	margin-top:20px;
	margin-left:10px;
	font-family: "思源黑体 CN";
	font-size: 20px;
	color:#BBBBBB;
}
.suffix1:hover
{
	margin-top:20px;
	margin-left:10px;
	font-family: "思源黑体 CN";
	font-size: 20px;
	color:#BBBBBB;
	 cursor:pointer;
}

.suffix{
	margin-top: 4px;
	margin-left: 10px;
	font-family: "思源黑体 CN";
	font-size: 14px;
	color:#606060;
}
#Read{
	text-align: center;
	float: right;
	margin-right: 39px;
}
.Read1{
	margin-top:20px;
	font-family: "思源黑体 CN";
	font-size: 14px;
	color:#606060;
}
.Read2{
	margin:0px auto;
	font-family: "思源黑体 CN";
}
#hr
{
	float: right;
	background-color: rgb(38,38,38);
	width: 2px;
	height:70px;
	margin-top: 14px;
	margin-right: 39px;
}



.dv-big-page{
	position: absolute;
	top: 901px;
	left: 126px;
	clear:both;
	width: 280px;
	
	margin-left:auto;
	margin-right:auto;
}
.dv-page-position-box{
	width:280px;
	height:30px;
}
.dv-margin-left{
	width: 210px;
	height: 30px;
}
.dv-page-box{
	float:left;
	width: 280px;
	height: 30px;
}
.li_prew{
	width: 38px;
	height: 28px;
	text-align: center;
	list-style: none;
	cursor: pointer;
	float: left;
	font-family: "思源黑体 CN";
	font-size: 16px;
	color:#888888;
	line-height:28px;
}
.li_btn{
	width: 38px;
	height: 28px;
	text-align: center;
	list-style: none;
	cursor: pointer;
	float: left;
	font-family: "思源黑体 CN";
	line-height:28px;
	font-size: 16px;
	color:#858585;
}
.li_btn:hover{
	cursor: pointer;
	line-height:28px;
	font-family: "思源黑体 CN";
	font-size: 16px;
	color:#fff;
}

.li_next{
	width: 38px;
	height: 28px;
	text-align: center;
	list-style: none;
	cursor: pointer;
	float: left;
	font-family: "思源黑体 CN";
	line-height:28px;
	font-size: 16px;
	color:#888888;
}
.dv_btns_box{
	width: 300px;
}
.li_next:hover,
.li_prew:hover{
	cursor: pointer;
	line-height:28px;
	font-family: "思源黑体 CN";
	font-size: 16px;
	color:#fff;
}
#div_li_btn_mid{
	width: 280px;
	height: 30px;
	float: left;
	overflow: hidden;
}

#page p{
	position: absolute;
	top: 935px;
	left: 409px;
	width: 47px;
	height: 20px;
	font-size: 16px;
	color: #8A7154;
	font-family: "思源黑体 CN";
	border-radius:5px 0px 0px 5px;
	background-color: #232323;
	text-align: center;
	line-height:20px;
}
#GO p{
	position: absolute;
	top: 935px;
	left: 456px;
	width: 47px;
	height: 20px;
	font-size: 16px;
	color: #232323;
	font-family: "思源黑体 CN";
	border-radius:0px 5px 5px 0px;
	background-color: #8A7154;
	text-align: center;
	line-height:20px;
}
#icon{
	position: absolute;
	top: 931px;
	left: 608px;
}
#icon2{
	position: absolute;
	top: 931px;
	left: 665px;
}
#btn_publish{
	position: absolute;
	top: 918px;
	left: 1102px;
}

#details1 {
	
      position: absolute;
      top: 169px;
      left: 140px; 
      width: 1100px;
      height: 713px;
     
    }

    #right {
      position: absolute;
      top: 0px;
      right: 0px;
    }
   

    #left {
      position: absolute;
      top: 7px;
    }
     img:hover
    {
     cursor:pointer;
    
    }
    
   

    #title p {
      position: absolute;
      top: 0px;
      width: 1100px;
      font-family: "˼Դ���� CN";
      font-size: 30px;
      color: #BBBBBB;
      text-align: center;
    }

     #list {
      position: absolute;
      bottom: 0px;
      width: 1117px;
      height: 612px;
      overflow-y: scroll;
    }

    #item {
      position: relative;
      width: 1100px;
      height: 204px;
      background-color: #1C1C1C;
    }

    #item img {
      margin: 39px 0px 0px 70px;
    }

    #time p {
      font-family: "˼Դ���� CN";
    }

    #name {
      font-size: 20px;
      color: #888888;
      width: 190.5px;
      text-align: center;
    }

    #level {
      font-size: 10px;
      color: #CFCFCF;
      width: 20px;
      height: 16px;
      text-align: center;
      line-height: 17px;
      background-color: #8A7154;
      border: 1px solid #FFCE97;
      border-radius: 4px;
      margin: 12px 0px 0px 84px;
    }

    #line {
      position: absolute;
      top: 27.5px;
      left: 190.5px;
      width: 1px;
      height: 149px;
      background-color: #353535;
    }

    #problem {

      width: 762px;
      height: 123px;
      font-size: 20px;
      color: #888888;
      position: absolute;
      top: 39px;
      left: 241px;
      line-height: 34px;
    }

    #storey {
      position: absolute;
      top: 39px;
      right: 30px;
      width: 50px;
      height: 20px;
      font-size: 20px;
      font-weight: bolder;
      text-align: right;
      color: #8A7154;
    }



















