#content {animation:content 1.2s;}
@keyframes content {
  0% {opacity:0}
100% {opacity:1}
}

body {
    background-color:rgb(26,26,26);
    background-image: url("../images/contest/bg_contest.png");
    background-repeat: no-repeat;
    position: relative;
}

.card1 {
    background-image: url("../images/contest/bg_warmup.png");
    background-repeat: no-repeat;
    width: 380px;
    height: 600px;
    position: absolute;
    top: 283px;
    left: 125px;
}

.card2 {

    background-image: url("../images/contest/bg_random.png");
    background-repeat: no-repeat;
    width: 380px;
    height: 600px;
    position: absolute;
    top: 283px;
    left: 555px;
}

.card3 {
    background-image: url("../images/contest/bg_virtual.png");
    background-repeat: no-repeat;
    width: 380px;
    height: 600px;
    position: absolute;
    top: 283px;
    left: 985px;
}

.card4 {
    background-image: url("../images/contest/bg_weekly.png");
    background-repeat: no-repeat;
    width: 380px;
    height: 600px;
    position: absolute;
    top: 283px;
    left: 1415px;
}

.incard {
	width: 326px;
	height: 114px;
    padding-top: 466px;
    padding-right: 27px;
    padding-left: 27px;
    padding-bottom: 20px;
    list-style: none;
    clear: both;
    position: relative;
}

.left {
    width: 145px;
    margin-top: 20px;
    margin: 10px;
    float: left;
    font-size: 14px;
    font-family: "思源黑体 CN";
    color: #888888;


}

.right {
    width: 30px;
    margin-right: 1px;
    margin-top: 18px;
    margin-bottom: 20xp;   
    float: right;
    font-size: 14px;
    font-family: "思源黑体 CN";
    color: #888888;

}
span.right
{
	margin-top: 12px;
	height: 14px;
	width: 44px;
}