@font-face {
	font-family: "婧榛浣 CN";
	src: url("../font/SourceHanSansCN-Regular.otf");
	src: url("../font/SourceHanSansCN-Bold.otf");
	src: url("../font/SourceHanSansCN-Light.otf");
	src: url("../font/SourceHanSansCN-Heavy.otf");
	src: url("../font/SourceHanSansCN-Normal.otf");
}

#content {animation:content 1.2s;}

@keyframes content {
  0% {opacity:0}
100% {opacity:1}
}

body {
    background-color:rgb(26,26,26);
    background-image: url("../images/rank/bg_rank.png");
    background-repeat: no-repeat;
    position: relative;
}

#content{
  width: 1585px;
  margin: 51px auto 0px;
}

#toplist{
  height: 150px;
}

#toplist ul li{
  float: left;
  width: 150px;
  height: 150px;
  height: 150px;
  margin-right: 30px;
  line-height: 150px
}

#toplist ul li img{
  vertical-align: middle;
}

#toplist ul li.centre{
  width: 150px;
  height: 150px;
  margin: 0px 100px 0px 20px;
}

#toplist ul li.left{
  margin-right: -8px;
}

#toplist ul li.right{
  width: 22px;
  margin: 0px 0px 0px 70px;
}

#contenttable{
  height: 642px;
  margin-top: 50px;
}

#tableheader{
  height: 42px;
  background-color: #262422;
}

#tableheader tr th{
  font-family: "思源黑体 CN";
  font-size: 16px;
  color: #8A7154;
  width: 200px;
  text-align: left;
}

#tableheader .superscript{
  background-image: url("../images/rank/icon_down.png");
  background-repeat: no-repeat;
  background-position: bottom 18px left 40px;
}

#contenttable #reduce{
  padding-left: 40px;
  background-position: bottom 18px left 58px;
}

#tablemain,.black{
  height: 60px;
  background-color: #1C1C1C;
}

#tablemain tr td{
  font-family: "思源黑体 CN";
  font-size: 16px;
  color: #888888;
  width: 200px;
  text-align: left;
}

#tablemain .gray{
  height: 60px;
  background-color: #1F1F1F;
}

#footer{
  margin: 40px 0px 39px 0px;
  height: 28px;
}

#paging li{
  font-family: "思源黑体 CN";
  font-size: 16px;
  line-height: 28px;
  font-weight: bolder;
  color: #888888;
  padding-right: 15px;
  float: left;
}

#paging .point{
  margin-top: -3px;
}

#jump p{
  font-family: "思源黑体 CN";
  font-size: 16px;
  width: 47px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  float: left;
}

#jump .left{
  color: #8A7154;
  font-weight: bolder;
  border-radius: 13px 0px 0px 13px;
  background-color: #232323;
}

#jump .right{
  color: #232323;
  border-radius: 0px 13px 13px 0px;
  background-color: #8A7154;
}

#button{
  text-align: right;
}

#button img{
  margin-left: 60px;
}
    #index_login{
    /*float:right;*/
    position: absolute;
    top:0px;
    right:0px;
    width: 274px;
    height: 219px;
  }
  ul {
  list-style-type: none;
}
  #index_top{
    /*background-color:#232323;*/
    width: 276px;
    height: 81px;
  }
  #login{
	  margin-top:18px;
	  margin-right: 50px;
	  width:174px;
	  height:44px;
	  float:right;
	  background-color:#232323;
	  border-radius: 25px;
  }
  .icon_face{
  max-height:35px; 
  max-width:35px; 
  width:expression(this.width > 35 && this.height < this.width ? 35: true); 
  height:expression(this.height > 35 ? 35: true);
  margin-top:5px;
  margin-bottom: 5px;
  margin-left: 5px;
}
  
.icon_rank4{
  max-height:35px; 
  max-width:35px; 
  width:expression(this.width > 20 && this.height < this.width ? 20: true); 
  height:expression(this.height > 16 ? 16: true);
  margin-bottom:14px;
  margin-top: 14px;
  margin-left:15px;
}
#login_username{
  float: right;
  color: #CFCFCF;
  font-size: 16px;
  font-family: "婧榛浣 CN";
  margin-right: 26px;
  margin-bottom:12px;
  margin-top: 12px;
  text-decoration: none;
}
.icon_spinner{
  float: right;
  max-height:35px; 
  max-width:35px; 
  width:expression(this.width > 20 && this.height < this.width ? 20: true); 
  height:expression(this.height > 16 ? 16: true);
  margin-bottom:19px;
  margin-top: 19px;
  margin-right: 16px;
}
#index_left{
  float: left;
  width: 91px;
  height: 88px;
  background-color: #1c1c1c;
}
#index_left a{
  text-decoration: none;
  line-height: 30px;
  text-align: center;
  margin: 0px auto;
  display: block;
  color: #888888;
  font-size: 12px;
  font-family: "婧榛浣 CN";
}
#index_left img{
  margin-top: 20px;
  margin-left: 31px;
}
#index_centre{
  float: left;
  width: 92px;
  height: 88px;
  background-color: #1c1c1c;
}

#index_centre a{
  text-decoration: none;
  line-height: 30px;
  text-align: center;
  margin: 0px auto;
  display: block;
  color: #888888;
  font-size: 12px;
  font-family: "婧榛浣 CN";
}
#index_centre img{
  margin-top: 20px;
  margin-left: 31px;
}
#index_right{
  float: right;
  width: 91px;
  height: 88px;
  background-color: #1c1c1c;
}
#index_right a{
  text-decoration: none;
  line-height: 30px;
  text-align: center;
  margin: 0px auto;
  display: block;
  color: #888888;
  font-size: 12px;
  font-family: "婧榛浣 CN";
}
#index_right img{
  margin-top: 20px;
  margin-left: 31px;
}
#index_bottom
{
  clear: both;
  background-color:#232323;
  width: 276px;
  height: 50px;
}
#index_bottom img{
  margin-left: 114px;
  margin-top: 18px;
}
#index_bottom p{
  float: right;
  margin-top: 16px;
  margin-right: 114px;
}
#index_bottom a{
  text-decoration: none;
  text-align: center;
  display: block;
  color: #888888;
  font-size: 12px;
  font-family: "婧榛浣 CN";
}
#index_middle {
  /*visibility: hidden;*/
}
#top_login{
  display: block;
  float: right;
  width: 174px;
  height: 44px;
  border-radius:25px;
  margin-top: 18px;
  margin-right: 50px;
}