  body{
    margin: 0px;
    height:0px;
    background-image: url(../images/userinfo/bg_userinfo.png); 
    position: relative;
  }
  #user{
    position: absolute;
    width: 160px;
    height: 160px;
    top: 206px;
    left: 294px;
  }
  #dynamic{
    position: absolute;
    width: 1016px;
    height: 517px;
    top: 156px;
    left: 741px;
    }
    #SmoothChart{
      height: 515px;
      margin-top: 2px;
    }

 