<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<!--
		为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的
		例如namespace="me.gacl.mapping.userMapper"就是me.gacl.mapping(包名)+userMapper(userMapper.xml文件去除后缀)
	-->
<mapper namespace="Dao.ThemeDao">
	<insert id="addTheme">
		insert into tb_theme (
		title,
		contents,
		classify,
		sender,
		date,
		reply_date,
		watch,
		comment)
		values(
		#{title},
		#{contents},
		#{classify},
		#{sender},
		#{date},
		#{reply_date},
		#{watch},
		#{comment},)
	</insert>
	
	<select id="getAllTheme" resultType="Models.Theme">
		select * from tb_theme order by id desc 
	</select>
	
	<select id="getThemeById" resultType="Models.Theme">
		select * from tb_theme
		where id=#{id}
	</select>
	
	<select id="getAllThemeByClass" resultType="Models.Theme">
		select classify from tb_theme
		where classify=#{classify}
	</select>
</mapper>












